head
  block title
      title Перекресток
  block meta
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="description" content="")
    meta(name="format-detection" content="telephone=no")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    
  block styles
    link(rel="stylesheet" href="css/bundle.css")
    link(rel="stylesheet" href="css/app.css")